
.live a{
text-decoration: none;
font-size: medium;
color: white;
}

.b-bg:hover{
    scale: 1.2;
    box-shadow: 5px 5px 5px black;

}
.live{
    padding: 5px;
    padding-left: 10px
    padding-top:20px;
}


.gallery-title
{
    font-size: 36px;
    color: #42B32F;
    text-align: center;
    font-weight: 500;
    margin-bottom: 70px;
}
.gallery-title:after {
    content: "";
    position: absolute;
    width: 7.5%;
    left: 46.5%;
    height: 45px;
    border-bottom: 1px solid #5e5e5e;
}
.filter-button
{
    font-size: 18px;
    border: 1px solid #42B32F;
    border-radius: 5px;
    text-align: center;
    color: #42B32F;
    margin-bottom: 30px;
    background-color: white;


}
.filter-button:hover
{
    font-size: 18px;
    border: 1px solid #42B32F;
    border-radius: 5px;
    text-align: center;
    color: #ffffff;
    background-color: #42B32F;

}
.btn-default:active .filter-button:active
{
    background-color: #42B32F;
    color: white;
}

.port-image
{
    width: 100%;
}

.gallery_project
{
    margin-bottom: 30px;

}
.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: black;
    opacity: .5;
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
  }
  .details{
    position: relative;
    width: 365px;
    height: 365px;
  }
  .details:hover .overlay {
    height: 100%;
    width: 100%;
  }
  img{
    width: 365px;
    height: 365px;
    overflow: hidden;
  }
  
  .text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }
